<%- include ('../partials/header') %> <%- include ('../partials/loggedInMenu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="col"><%- include ('../partials/message') %></div>
    <div class="container-fluid">
        <h1> Change Password</h1>
        <form action="/updatePassword" method ="POST">
            <label for ="password">New Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Confirm New Password">
        </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
