<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="col"><%- include ('../partials/messages') %></div>

    <h1>Login</h1>
    <form method="post">
      <div class="row pt-4">
        <div class="col-sm-2">Username</div>
        <input name="username" class="col" />
      </div>
      <div class="row pt-4">
        <div class="col-sm-2">Password</div>
        <input name="password" class="col" />
      </div>
      <hr />
      <div>
        Don't have an account?
        <a
          style="text-decoration: underline"
          href="http://localhost:3000/register"
          >Register</a
        >
        <span style="float: right"
          ><button type="submit" class="btn btn-primary">Login</button></span
        >
      </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>
