<%- include ('../partials/header') %> <%- include ('../partials/loggedInMenu')%>
<main>
  <div class="container">
    <table class="table">
      <tr>
        <th scope="col">Hello <%users.username%></th>
      </tr>
    </table>
  </div>
</main>
<%- include ('../partials/footer') %>
