<%- include ('../partials/header') %> <%- include ('../partials/loggedInMenu')%>
<main>
  <div class="container">
    <h1 class="pt-3" style="text-align: center">
      Hello <%=users[0].username%>
    </h1>
  </div>
</main>
<%- include ('../partials/footer') %>
