<%- include ('../partials/header') %> <%- include ('../partials/loggedInMenu')%>

<main>
  <div class="container">
    <table class="table">
      <tbody>
        <div>
          <tr>
            <h1 class="pt-3" style="text-align: center">Your Team</h1>
          </tr>
        </div>
        <div style="padding-top: 50px">
          <tr>
            <th>Player Rank</th>
            <th>Player Name</th>
          </tr>
          <%i = 0;%><%players.forEach(player => { %>
          <tr>
            <%i = i+1;%>
            <td><%=i%></td>
            <td><%=player.name%></td>
          </tr>
        </div>

        <% }) %>
      </tbody>
    </table>
  </div>
</main>