<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 style="text-align: center">Register</h1>
    <form method="post" action="/register">
      <div class="row pt-4">
        <div class="col-sm-2">Username</div>
        <input name="username" class="col" />
      </div>
      <div class="row pt-4">
        <div class="col-sm-2">Password</div>
        <input name="password" class="col" />
      </div>
      <div class="row pt-4">
        <div class="col-sm-2">Re-enter Password</div>
        <!-- Check if this field matches with first -->
        <input name="password" class="col" />
      </div>
      <hr />
      <div>
        Already have an account?
        <a style="text-decoration: underline" href="http://localhost:3000/login"
          >Login</a
        >
        <span style="float: right"
          ><button type="submit" class="btn btn-primary">Register</button></span
        >
      </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>
