<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="col"><%- include ('../partials/message') %></div>
    <div class="container-fluid">
        <h1> Register</h1>
        <form action="/register" method ="POST">
            <label for ="username">Username</label>
            <input type="text" id="username" name="username"><br>
            <label for ="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Register">
        </form>
    </div>
    <a>Already have an account? <a href="/login">Login</a></a>
  </div>
</main>

<%- include ('../partials/footer') %>